.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
  background: var(--light-yellow);
}

.home-section-content {
  max-width: 700px;
  padding: 20px;
}

.home-section-text {
  position: relative;
  max-height: 600px;
  overflow: hidden;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0)
  );
}

.home-section-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.home-section-image img {
  max-width: 100%;
  height: auto;
}

.hero-content {
  max-width: 700px;
  padding: 20px;
}

.hero-slogan {
  font-style: italic;
}

.hero-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
