.home-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px;
  background: var(--light-yellow);
  line-height: 1.7;
  gap: 20px;
}

.home-section-content {
  max-width: 700px;
  padding: 20px;
}

.home-section-text {
  position: relative;
  max-height: none;
  overflow: visible;
  mask-image: none;
  -webkit-mask-image: none;
}

.hero-content {
  max-width: 700px;
  padding: 20px;
}

.hero-slogan {
  font-style: italic;
}

.hero-image {
  max-width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 900px) {
  .home-section {
    grid-template-columns: 1fr;
    padding: 20px;
    text-align: center;
  }

  .home-section-content {
    max-width: 100%;
    padding: 10px;
  }
  .hero-content {
    max-width: 100%;
    padding: 10px;
  }
  .hero-image img {
    max-width: 100%;
    height: auto;
  }
}
